# Создайте файл .env из копии этого файла и замените значения переменных API_KEY_ на свои

# Currency API: https://apilayer.com/
API_KEY_APILAYER= твой_api_key
BASE_URL_APILAYER=https://api.apilayer.com/exchangerates_data/convert

# Stock API: https://www.alphavantage.co/
API_KEY_ALPHAVANTAGE= твой_api_key
BASE_URL_ALPHAVANTAGE=https://www.alphavantage.co/query